In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# configurations
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", lambda x: f"{x:.3f}")
sns.set_theme(style="darkgrid")

plt.rcParams.update({
    "axes.titlesize": 10,
    "axes.labelsize": 9,
    "xtick.labelsize": 8,
    "ytick.labelsize": 8
})

RANDOM_STATE = 42
CSV_PATH = "housing.csv"          
TARGET_COL = "median_house_value"

In [3]:
#LOADING THE DATA

df = pd.read_csv(CSV_PATH)

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.230,37.880,41.000,880.000,129.000,322.000,126.000,8.325,452600.000,NEAR BAY
1,-122.220,37.860,21.000,7099.000,1106.000,2401.000,1138.000,8.301,358500.000,NEAR BAY
2,-122.240,37.850,52.000,1467.000,190.000,496.000,177.000,7.257,352100.000,NEAR BAY
3,-122.250,37.850,52.000,1274.000,235.000,558.000,219.000,5.643,341300.000,NEAR BAY
4,-122.250,37.850,52.000,1627.000,280.000,565.000,259.000,3.846,342200.000,NEAR BAY

In [5]:
df.shape

(20640, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
# separting the numerical coulmns and categorical columns

num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

cat_cols = df.select_dtypes(include=["object"]).columns.tolist()

In [9]:
print(num_cols)

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

In [10]:
print(cat_cols)

['ocean_proximity']

In [11]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [12]:
for col in df.columns:
    print(df[col].value_counts().head(20))

longitude
-118.310    162
-118.300    160
-118.290    148
-118.270    144
-118.320    142
-118.280    141
-118.350    140
-118.360    138
-118.190    135
-118.370    128
-118.250    128
-118.200    126
-118.140    125
-118.130    121
-118.260    121
-118.180    120
-118.340    119
-118.210    118
-118.150    116
-118.120    112
Name: count, dtype: int64
latitude
34.060    244
34.050    236
34.080    234
34.070    231
34.040    221
34.090    212
34.020    208
34.100    203
34.030    193
33.930    181
33.940    175
33.970    172
33.990    168
33.880    164
34.110    162
33.980    162
34.160    159
34.120    158
34.150    157
34.010    156
Name: count, dtype: int64
housing_median_age
52.000    1273
36.000     862
35.000     824
16.000     771
17.000     698
34.000     689
26.000     619
33.000     615
18.000     570
25.000     566
32.000     565
37.000     537
15.000     512
19.000     502
27.000     488
24.000     478
30.000     476
28.000     471
20.000     465
29.000     461
Name: count, dtype: int64
total_rooms
1527.000    18
1613.000    17
1582.000    17
2127.000    16
1717.000    15
2053.000    15
1607.000    15
1722.000    15
1471.000    15
1703.000    15
1724.000    14
1743.000    14
1745.000    14
1787.000    14
1562.000    14
1880.000    14
1731.000    14
1705.000    14
1650.000    14
2228.000    13
Name: count, dtype: int64
total_bedrooms
280.000    55
331.000    51
345.000    50
343.000    49
393.000    49
328.000    48
348.000    48
394.000    48
272.000    47
309.000    47
314.000    46
322.000    46
399.000    46
295.000    46
317.000    46
313.000    45
290.000    45
346.000    45
340.000    45
287.000    45
Name: count, dtype: int64
population
891.000     25
761.000     24
1227.000    24
1052.000    24
850.000     24
825.000     23
782.000     22
999.000     22
1005.000    22
753.000     21
781.000     21
1098.000    21
872.000     21
1155.000    20
1301.000    20
1056.000    20
1054.000    20
899.000     20
1011.000    20
735.000     20
Name: count, dtype: int64
households
306.000    57
386.000    56
335.000    56
282.000    55
429.000    54
375.000    53
284.000    51
297.000    51
278.000    50
340.000    50
362.000    50
380.000    50
316.000    49
329.000    49
319.000    49
330.000    49
309.000    48
426.000    48
377.000    48
341.000    48
Name: count, dtype: int64
median_income
3.125     49
15.000    49
2.875     46
2.625     44
4.125     44
3.875     41
3.375     38
3.000     38
4.000     37
3.625     37
4.375     35
2.125     33
2.375     32
4.625     31
3.500     30
3.750     29
3.250     29
4.875     29
2.250     29
1.625     29
Name: count, dtype: int64
median_house_value
500001.000    965
137500.000    122
162500.000    117
112500.000    103
187500.000     93
225000.000     92
350000.000     79
87500.000      78
275000.000     65
150000.000     64
175000.000     63
100000.000     62
125000.000     56
67500.000      55
250000.000     47
200000.000     46
118800.000     39
450000.000     37
156300.000     35
212500.000     33
Name: count, dtype: int64
ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [14]:
# duplicates

duplicate_mask = df.duplicated()
num_duplicates = duplicate_mask.sum()
print(num_duplicates)

0

In [15]:
df[num_cols].describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000,20640.000,20640.000,20640.000,20433.000,20640.000,20640.000,20640.000,20640.000
mean,-119.570,35.632,28.639,2635.763,537.871,1425.477,499.540,3.871,206855.817
std,2.004,2.136,12.586,2181.615,421.385,1132.462,382.330,1.900,115395.616
min,-124.350,32.540,1.000,2.000,1.000,3.000,1.000,0.500,14999.000
25%,-121.800,33.930,18.000,1447.750,296.000,787.000,280.000,2.563,119600.000
50%,-118.490,34.260,29.000,2127.000,435.000,1166.000,409.000,3.535,179700.000
75%,-118.010,37.710,37.000,3148.000,647.000,1725.000,605.000,4.743,264725.000
max,-114.310,41.950,52.000,39320.000,6445.000,35682.000,6082.000,15.000,500001.000